h1{
	font-family: arial,verdana,serif;
	font-size: 100px;
	font-weight:normal ;
	font-variant: small-caps;
	font-style: normal;
}
p{
	font-family:"times new roman",sans-serif;
	font-size: 50px;
	font-weight: 10px;
	font-variant: small-caps;
	font-style: italic;
}
h2{
	font:italic normal bold 16px/20px ;
}
body{
	background-color: white;
	background-image: url(gambar/gradasi.jpg);
	background-repeat: repeat-x;
	
}